# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# Temporary media downloads and caches
downloads/
.cache/
*.mp4
*.mp3
*.m4a
*.webm
*.part
*.ytdl

# System & OS
.DS_Store
Thumbs.db
*.log
cloudflared.exe
